@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl/snug font-semibold tracking-tight text-pretty mb-4;
	}
	h2 {
		@apply text-3xl/snug font-semibold tracking-tight text-pretty;
	}
	h3 {
		@apply text-2xl/snug font-semibold tracking-tight text-pretty;
	}
	a {
		@apply text-brand-600;
	}
	svg {
		@apply inline-block align-baseline;
	}
}

/**
 * Fix article styling
 */
 
 body article .markdown {
	 @apply prose-sm md:prose-base min-[1440px]:prose-lg prose-invert prose-headings:text-pretty max-w-none;
	 @apply prose-ul:pl-4 prose-ul:list-outside prose-li:marker:text-sky-300 prose-ul:mt-0 prose-ol:mt-0 prose-li:my-1 prose-li:text-zinc-300;
	 @apply prose-headings:m-[var(--ifm-heading-margin-top)_0_calc(var(--ifm-heading-margin-bottom)_/_2)_0_];
	 @apply prose-table:w-full prose-table:table prose-table:table-auto prose-td:px-3 prose-th:text-left prose-th:px-3;
 }

 body article .markdown .button p {
	@apply mb-0;
 }

 body article .markdown h1:first-child {
	@apply mt-0;
 }

 body article .markdown code {
	@apply text-zinc-200 bg-zinc-200/10 border-zinc-200/20 border px-1;
 }

 body article .markdown pre {
	@apply mt-0;
 }

 body article .markdown pre code {
	@apply bg-transparent p-0;
 }

 article .avatar__name a {
	 @apply no-underline text-pretty font-bold text-white;
 }

 article .avatar__intro small {
	@apply text-zinc-400;
 }

 body article .markdown p:first-child, body article .markdown h2:first-child {
	@apply mt-0;
 }


 body article header h2 + div, body article header h2 + div > time {
	@apply text-zinc-400 !important;
 }

 body article .markdown .theme-admonition > div > :last-child {
	@apply mb-0;
 }
 article header h2 {
	 @apply text-2xl leading-[var(--ifm-heading-line-height)] font-bold tracking-tight text-pretty mt-0;
 }
 article header h2 a {
	 @apply no-underline text-pretty;
 }
 article header .avatar a img {
	 @apply m-0;
 }
 article ul {
	 @apply list-disc list-inside mb-5;
 }
 article ol {
	 @apply list-decimal mb-5;
 }
 article ol p {
	 @apply inline;
 }

 article .theme-admonition {
	@apply text-white/80;
 }
 article .theme-admonition > div:first-child {
	@apply font-bold text-base;
 }

 /**
  * Sidebar
  */
 .table-of-contents__link.toc-highlight {
	@apply truncate;
 }


/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: hsl(var(--brand-500));
	--ifm-color-primary-dark: hsl(var(--brand-600));
	--ifm-color-primary-darker: hsl(var(--brand-600));
	--ifm-color-primary-darkest: hsl(var(--brand-700));
	--ifm-color-primary-light: hsl(var(--brand-400));
	--ifm-color-primary-lighter: hsl(var(--brand-300));
	--ifm-color-primary-lightest: hsl(var(--brand-200));
	--ifm-code-font-size: 95%;

	--ifm-color-success: hsl(var(--green-300));
	--ifm-color-success-dark: hsl(var(--green-400));
	--ifm-color-success-darker: hsl(var(--green-500));
	--ifm-color-success-darkest: hsl(var(--green-600));
	--ifm-color-success-light: hsl(var(--green-200));
	--ifm-color-success-lighter: hsl(var(--green-100));
	--ifm-color-success-lightest: hsl(var(--green-50));

	--ifm-color-secondary: hsl(var(--zinc-100));
	--ifm-color-secondary-dark: hsl(var(--zinc-200));
	--ifm-color-secondary-darker: hsl(var(--zinc-300));
	--ifm-color-secondary-darkest: hsl(var(--zinc-400));
	--ifm-color-secondary-light: hsl(var(--white));
	--ifm-color-secondary-lighter: hsl(var(--white));
	--ifm-color-secondary-lightest: hsl(var(--white));

	--ifm-color-info: hsl(var(--sky-600));
	--ifm-color-info-dark: hsl(var(--sky-700));
	--ifm-color-info-darker: hsl(var(--sky-700));
	--ifm-color-info-darkest: hsl(var(--sky-800));
	--ifm-color-info-light: hsl(var(--sky-500));
	--ifm-color-info-lighter: hsl(var(--sky-400));
	--ifm-color-info-lightest: hsl(var(--sky-300));

	--ifm-color-warning: hsl(var(--amber-300));
	--ifm-color-warning-dark: hsl(var(--amber-400));
	--ifm-color-warning-darker: hsl(var(--amber-500));
	--ifm-color-warning-darkest: hsl(var(--amber-600));
	--ifm-color-warning-light: hsl(var(--amber-200));
	--ifm-color-warning-lighter: hsl(var(--amber-100));
	--ifm-color-warning-lightest: hsl(var(--amber-50));

	--ifm-color-danger: hsl(var(--red-600));
	--ifm-color-danger-dark: hsl(var(--red-700));
	--ifm-color-danger-darker: hsl(var(--red-700));
	--ifm-color-danger-darkest: hsl(var(--red-800));
	--ifm-color-danger-light: hsl(var(--red-500));
	--ifm-color-danger-lighter: hsl(var(--red-400));
	--ifm-color-danger-lightest: hsl(var(--red-300));

	--ifm-color-gray-0: var(--ifm-color-white);
    --ifm-color-gray-100: hsl(var(--zinc-100) / 100%);
    --ifm-color-gray-200: hsl(var(--zinc-200) / 100%);
    --ifm-color-gray-300: hsl(var(--zinc-300) / 100%);
    --ifm-color-gray-400: hsl(var(--zinc-400) / 100%);
    --ifm-color-gray-500: hsl(var(--zinc-500) / 100%);
    --ifm-color-gray-600: hsl(var(--zinc-600) / 100%);
    --ifm-color-gray-700: hsl(var(--zinc-700) / 100%);
    --ifm-color-gray-800: hsl(var(--zinc-800) / 100%);
    --ifm-color-gray-900: hsl(var(--zinc-900) / 100%);
    --ifm-color-gray-1000: hsl(var(--zinc-950) / 100%);

	--ifm-heading-color: rgba(255, 255, 255, 1);

	--ifm-font-color-base: rgba(255, 255, 255, 0.6);

	/* FONTS */
	--ifm-font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--ifm-font-family-base: "Inter", sans-serif;
	--ifm-heading-font-family: "Inter", sans-serif;
	--ifm-heading-font-weight: 500;
	--ifm-leading-desktop: 0.8;
	--ifm-leading-mobile: 0.75;
	--ifm-heading-margin-top: 2.5rem;
	.markdown {
		@apply text-base/relaxed;
	}
}

:root .alert--success {
	--ifm-alert-background-color: #333 !important;
}

:root .alert--danger {
	--ifm-alert-background-color: #5c001f !important;
}

:root .alert--warning {
	--ifm-alert-background-color: #50432a !important;
}

.docusaurus-highlight-code-line {
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
	background-color: rgba(255, 255, 255, 0.1);
}

html[data-theme="dark"] {
	--ifm-background-color: hsl(var(--zinc-950) / 100%);
	--ifm-navbar-background-color: hsl(var(--zinc-900) / 70%);
}

html[data-theme="dark"] nav.navbar {
	@apply backdrop-blur-md;
}
small.byline {
	font-size: 14px;
	font-weight: 300;
}

.markdown {
	@apply mt-8;
}
.flex-column {
	display: flex;
	flex-direction: column;
}

html[data-theme="light"] .DocSearch {
	/* --docsearch-primary-color: var(--ifm-color-primary); */
	/* --docsearch-text-color: var(--ifm-font-color-base); */
	--docsearch-muted-color: var(--ifm-color-secondary-darkest);
	--docsearch-container-background: rgba(94, 100, 112, 0.7);
	/* Modal */
	--docsearch-modal-background: var(--ifm-color-secondary-lighter);
	/* Search box */
	--docsearch-searchbox-background: var(--ifm-color-secondary);
	--docsearch-searchbox-focus-background: var(--ifm-color-white);
	/* Hit */
	--docsearch-hit-color: var(--ifm-font-color-base);
	--docsearch-hit-active-color: var(--ifm-color-white);
	--docsearch-hit-background: var(--ifm-color-white);
	/* Footer */
	--docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme="dark"] .DocSearch {
	--docsearch-text-color: var(--ifm-font-color-base);
	--docsearch-muted-color: var(--ifm-color-secondary-darkest);
	--docsearch-container-background: hsl(var(--zinc-950) / 80%);
	/* Modal */
	--docsearch-modal-background: var(--ifm-background-color);
	/* Search box */
	--docsearch-searchbox-background: var(--ifm-background-color);
	--docsearch-searchbox-focus-background: var(--ifm-color-black);
	/* Hit */
	--docsearch-hit-color: var(--ifm-font-color-base);
	--docsearch-hit-active-color: var(--ifm-color-black);
	--docsearch-hit-active-background: var(--ifm-color-white);
	--docsearch-hit-background: var(--ifm-color-emphasis-100);
	/* Footer */
	--docsearch-footer-background: var(--ifm-background-surface-color);
	--docsearch-key-gradient: linear-gradient(
		-26.5deg,
		var(--ifm-color-emphasis-200) 0%,
		var(--ifm-color-emphasis-100) 100%
	);
	--docsearch-key-shadow: inset 0 -2px 0 0 hsl(var(--zinc-900) / 70%),inset 0 0 1px 1px hsl(var(--zinc-700) / 90%),0 2px 2px 0 hsl(var(--zinc-950) / 50%);
	--docsearch-key-pressed-shadow: inset 0 -2px 0 0 hsl(var(--zinc-900) / 70%),inset 0 0 1px 1px hsl(var(--zinc-700) / 90%),0 2px 2px 0 hsl(var(--zinc-950) / 50%);
	--docsearch-footer-shadow: inset 0 1px 0 0 hsl(var(--zinc-400) / 10%),0 -1px 0 0 hsl(var(--zinc-500) / 30%);
	--docsearch-modal-shadow: inset 1px 1px 0 0 hsl(var(--zinc-950) / 60%),0 8px 18px 5px hsl(var(--zinc-950) / 70%);
	--docsearch-highlight-color: hsl(var(--brand-600));
}

html[data-theme="dark"] .DocSearch.DocSearch-Container {
	@apply backdrop-blur-sm overscroll-contain;
	@apply animate-in fade-in-0 duration-300;
}

html[data-theme="dark"] body.DocSearch--active {
	overflow: visible !important;
}

#docusaurus_skipToContent_fallback {
	display: flex;
}
